// Mixins Here// Follow the order in the readme
.custom-btn(@width:28.5% ;@bgColor:@btn-bg-color; @fontColor:white ) 
{
    display: block;
    cursor: pointer;
    height: 35px;
    font-size: 2rem;
    border-radius: 8px;
    width:@width;
    background-color: @bgColor;
    color: @fontColor;
      
    &:hover {
      background-color: @fontColor;
      color: @bgColor;
    }
}

.nav(@width: 50;@justify-content: space-around) 
{
  width: @width;
  display: flex;
  flex-wrap: wrap;
  justify-content: @justify-content;
  
   a {
      text-decoration: none;
      color:@ebony-clay;
      font-size:1.8rem; 
      &:hover{
        text-decoration: underline;
      }
      
  }
}